.rounded-text {
  width: 26.625rem;
  height: 26.625rem;
  text-transform: uppercase;
  transform: rotate(-103deg);
  color: #fff;
  font-weight: bold;
  z-index: -1;
  font-family: Raleway;

  -webkit-transform: rotate(-103deg);
  -moz-transform: rotate(-103deg);
  -ms-transform: rotate(-103deg);
  -o-transform: rotate(-103deg);
}
.white {
  fill: #fff;
}
.yellow {
  fill: #ffda2a;
}
.green {
  fill: #00d3b9;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  text-align: center;
  animation: rotating 12s linear infinite;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes coloring {
  0% {
    fill: #dd2828;
  }
  35% {
    fill: #ffda2a;
  }
  75% {
    fill: #00d3b9;
  }
  100% {
    fill: #f05656;
  }
}
.coloring {
  animation: coloring 12s linear infinite;
  font-size: 20px;
  margin-top: 8px;
}
